<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
								http://www.springframework.org/schema/beans/spring-beans.xsd
								http://www.springframework.org/schema/security
								http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 方法保护 -->
	<global-method-security secured-annotations="enabled"
		jsr250-annotations="disabled" pre-post-annotations="enabled" />

	<!-- 不需要Security保护的资源 -->
	<http pattern="/resources/**" security="none" />

	<!-- 需要Security保护的资源 -->
	<http>
		<intercept-url pattern="/admin/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

		<!-- 登陆管理 -->
		<form-login login-page="/admin/login.html" login-processing-url="/admin/login"
			username-parameter="username" password-parameter="password"
			default-target-url="/admin/index" always-use-default-target="true"
			authentication-failure-url="/admin/login.html?error" />

		<!-- 登出管理 -->
		<logout logout-url="/admin/logout" logout-success-url="/admin/login.html?logout"
			delete-cookies="JSESSIONID" invalidate-session="true" />

		<!-- Header管理 -->
		<headers>
			<cache-control /> <!-- XSS -->
			<content-type-options />
			<frame-options />
			<xss-protection />
		</headers>

		<!-- Session策略 -->
		<session-management session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" expired-url="/" />
		</session-management>

		<!-- Token策略 -->
		<csrf />

	</http>

	<!-- 认证管理 -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service id="userDetailsService"
				data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from t_admin where username = ?"
				authorities-by-username-query="select username, authority from t_admin_authorities where username = ?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>