<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration threshold="debug"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="console.CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%d{HH:mm:ss}[%C.%M(%L)-%p] 
				%m%n"/> -->
			<param name="ConversionPattern" value="%d{HH:mm:ss}[%C(%L)-%p] %m%n" />
		</layout>
	</appender>
	<appender name="file.text.SYSFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="error" />
		<param name="file" value="/megastore.log" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
		</layout>
	</appender>
	<appender name="file.text.DATE_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="debug" />
		<param name="file" value="/megastore.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<!-- each hour <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>
	<appender name="file.text.APPFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="error" />
		<param name="file" value="${webapp.root}/WEB-INF/logs/megastore.log" />
		<param name="maxFileSize" value="1024KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m [%t] (%F:%L)%n" />
		</layout>
	</appender>
	<appender name="file.html.HTML" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="error" />
		<param name="file" value="/juyee-log.html" />
		<param name="maxFileSize" value="1024KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.HTMLLayout" />
	</appender>
	<appender name="file.xml.XML" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="error" />
		<param name="file" value="/juyee-log.xml" />
		<param name="maxFileSize" value="1024KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.xml.XMLLayout" />
	</appender>
	<appender name="mail.MAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="threshold" value="debug" />
		<!-- <param name="threshold" value="fatal"/> -->
		<param name="BufferSize" value="10" />
		<param name="From" value="yangguanjun@justonetech.com" />
		<param name="SMTPHost" value="www.justonetech.com" />
		<param name="Subject" value="juyee-log4jMessage" />
		<param name="To" value="yangguanjun@justonetech.com" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
		</layout>
	</appender>
	<appender name="remote.CHAINSAW" class="org.apache.log4j.net.SocketAppender">
		<param name="threshold" value="fatal" />
		<param name="remoteHost" value="localhost" />
		<param name="port" value="4445" />
		<param name="locationInfo" value="true" />
	</appender>
	<category name="com.juyee" additivity="true">
		<priority value="info" />
		<appender-ref ref="console.CONSOLE" />
		<!-- <appender-ref ref="file.text.DATE_FILE" /> -->
	</category>
	<category name="com.co" additivity="true">
		<priority value="debug" />
		<appender-ref ref="console.CONSOLE" />
		<appender-ref ref="file.text.DATE_FILE" />
	</category>
	<category name="org" additivity="true">
		<priority value="WARN" />
		<appender-ref ref="console.CONSOLE" />
		<!-- <appender-ref ref="file.text.DATE_FILE" /> -->
	</category>
	<!-- Application Loggers -->
	<logger name="com.walemao.megastore">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	<root>
		<!-- <level value="trace" /> <level value="debug" /> <level value="info" 
			/> <level value="warn" /> <level value="error" /> <level value="fatal" /> 
			<appender-ref ref="console.CONSOLE" /> <appender-ref ref="file.text.DATE_FILE"/> -->
	</root>
</log4j:configuration>