/** Admin Login Page **/
a, a.list-group-item, a:active, a:focus, a:hover {
	color: #db4a39;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}

.btn-danger{
	background-color: #db4a39;
}

.alert, .btn, .dropdown-menu, .form-control, .input-group-addon, .label, .list-group-item:first-child, .list-group-item:last-child, .modal-content, .nav-pills>li>a, .nav-tabs>li>a, .navbar, .pager li>a, .pager li>span, .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span, .panel, .popover, .popover-title, .progress, .table-bordered, .table-bordered td, .table-bordered th, .thumbnail, .tooltip-inner, .well {
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
}

body.login {
	padding: 80px 0 0;
	background-color: #f9f9f9;
	background-image: url(../images/login_bg.png);
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 6px 1px;
}

#login-container {
	width: 320px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #ddd;
	background-color: #fff;
}

.page-header-sub {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	line-height: 18px;
	padding-bottom: 5px;
}

#admin-login-form label {
	text-align: left;
	width: 100px;
	padding-right: 0;
}

#admin-login-form span {
	padding-left: 5px;
	padding-right: 5px;
}

/** Admin Component Style **/
#header {
	height: 40px;
	min-height: 0;
	background: #4b4b4b;
}

#header .header-logo {
	display: inline-block;
	height: 40px;
}

#header .header-logo img {
	padding: 10px;
	padding-top: 7px;
}

.header-bar>li {
	display: block;
	width: auto;
	height: 40px;
	float: left;
	line-height: 20px;
	list-style: none;
}

.header-bar .divider-vertical {
	width: 0;
	border-width: 1px;
	border-style: solid;
	border-right-color: #3b3b3b;
	border-left-color: #5b5b5b;
}

.header-bar span {
	display: inline-block;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	line-height: 40px;
	padding-left: 8px;
}

.header-bar label {
	color: #999;
	margin-right: 8px;
}

.header-bar .dropdown-menu {
	margin: -1px 0 0;
	z-index: 1051;
	min-width: 100px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.dropdown-menu>li>a:hover {
	background: #db4a39;
	color: #fff;
}

.dropdown-menu i {
	display: inline-block;
	width: 22px;
	text-align: center;
	padding-right: 5px;
}

#container {
	background-color: #ddd;
}

#aside {
	width: 201px;
	padding: 0;
	position: absolute;
	border-right: 1px solid #ccc;
}

#sidebar-search {
	margin: 0;
	padding: 0;
	height: 31px;
	background-color: #eee;
}

#sidebar-search input[type=text] {
	padding: 0 10px;
	height: 30px;
	line-height: normal;
	width: 177px;
	border: none;
	background-color: #eee;
	font-style: italic;
	font-size: 12px;
	color: #555;
	outline: none;
}

#sidebar-search button {
	border: none;
	background-color: #eee;
	height: 30px;
	padding: 0;
	color: #999;
}

#content {
	margin: 0 0 0 200px;
	padding: 20px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	min-height: 1000px;
}

#primary-nav ul {
	list-style: none;
	margin: 0;
	padding: 15px 0;
}

#primary-nav li a {
	display: block;
	margin: 3px 0 0;
	background-color: #e9e9e9;
	color: #999;
	line-height: 20px;
	padding: 9px 10px 6px 40px;
}

#primary-nav li a:focus, #primary-nav li a:hover {
	color: #777;
	background-color: #f6f6f6;
	text-decoration: none;
}

#primary-nav li a.active {
	padding-left: 35px;
	color: #333;
	background-color: #fff;
	border-left: 5px solid #db4a39;
}

#primary-nav li i {
	margin: 0 10px 0 -30px;
	width: 20px;
	text-align: center;
	display: inline-block;
	color: #999;
}

a.btn-goto-font {
	color: #999;
	font-size: 14px;
	margin: 0;
	display: block;
	padding-top: 9px;
	padding-bottom: 6px;
	text-align: left;
	border: none;
	background: #f1f1f1;
}

a.btn-goto-font i {
	margin: 0 6px 0 -1px;
	width: 20px;
	text-align: center;
	display: inline-block;
	color: #999;
}

#to-top {
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	position: fixed;
	bottom: 85px;
	left: 5px;
	color: #555;
	display: none;
	background-color: #fff;
	opacity: .5;
	filter: alpha(opacity = 5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#nav-info {
	list-style: none;
	margin: -20px -20px 20px;
	padding: 0;
	border-bottom: 1px solid #ddd;
	background-color: #f6f6f6;
}

#nav-info>li {
	float: left;
	padding: 0 15px 0 20px;
	height: 30px;
	line-height: 32px;
	color: #999;
	font-size: 12px;
	background-image: url(../images/nav_info_seperator.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 5px 30px;
}

#nav-info>li:first-child {
	background: 0 0;
	padding: 0 15px;
}

#nav-info>li.active a {
	color: #db4a39;
}

#nav-info>li>a {
	color: #555;
}

.nav-dash {
	list-style: none;
	margin: 0 -20px 20px;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #f9f9f9;
}

.nav-dash>li {
	display: inline-block;
	margin: 0 3px;
}

.nav-dash>li>a {
	position: relative;
	font-size: 32px;
	line-height: 32px;
	color: #777;
	display: block;
	background-color: #ddd;
	border: 1px solid #ccc;
	width: 87px;
	height: 87px;
	padding: 27px 20px 13px;
	text-align: center;
	margin: 0 0 5px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

.nav-dash>li.active>a, .nav-dash>li>a:hover {
	color: #fff;
	background-color: #db4a39;
	border: 1px solid #db4a39;
	text-decoration: none
}

.nav-dash>li>a>.badge, .nav-dash>li>a>.label {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0 0 3px;
	padding: 0 7px;
	height: 20px;
	line-height: 20px;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-default {
	background-color: #777;
}

.badge-warning {
	background-color: #f0ad4e;
}

.badge-danger {
	background-color: #db4a39;
}

@keyframes fadeIn{0%{transform:scale(0);opacity:0}100%{transform:scale(1);opacity:1}}@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(0);opacity:0}100%{-webkit-transform:scale(1);opacity:1}}
.animation-fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

.dash-tile {
	min-height: 190px;
	background-color: #e9e9e9;
	margin: 0 0 20px;
	padding: 0 20px;
}

.dash-tile-header {
	margin: 0 -20px;
	padding: 0 4px 0 10px;
	min-height: 38px;
	line-height: 45px;
	font-weight: 700;
	border-bottom: 2px solid #ddd;
	background-color: #eee;
}

.dash-tile-icon {
	float: left;
	padding: 40px 0 0;
	font-size: 48px;
	text-align: left;
}

.dash-tile-text {
	float: right;
	padding: 48px 0 0;
	font-size: 36px;
	text-align: right;
}

.dash-tile-icon, .dash-tile-text {
	line-height: normal;
	color: #fff;
}

.dash-tile-balloon .dash-tile-header, .dash-tile-dark .dash-tile-header, .dash-tile-doll .dash-tile-header, .dash-tile-flower .dash-tile-header, .dash-tile-fruit .dash-tile-header, .dash-tile-leaf .dash-tile-header, .dash-tile-ocean .dash-tile-header, .dash-tile-oil .dash-tile-header {
	border-bottom: 2px solid #f9f9f9;
	background-color: #eee;
	opacity: .75;
	filter: alpha(opacity=75);
}

.dash-tile-ocean {
	background-color: #3991db;
}

.dash-tile-leaf {
	background-color: #c2db39;
}

.dash-tile-flower {
	background-color: #9139db;
}

.dash-tile-fruit {
	background-color: #db9839;
}

.dash-tile-oil {
	background-color: #d9db39;
}

.dash-tile-dark {
	background-color: #555;
}

.dash-tile-balloon {
	background-color: #db6739;
}

.dash-tile-doll {
	background-color: #db39bb;
}

.dash-tile-options {
	float: right;
	height: 38px;
	line-height: 41px;
}


.dash-tile-options .btn-default {
	background: #eee;
}

@keyframes pullDown{0%{transform:scaleY(0.1)}40%{transform:scaleY(1.02)}100%,60%{transform:scaleY(0.98)}80%{transform:scaleY(1.01)}100%{transform:scaleY(1)}}@-webkit-keyframes pullDown{0%{-webkit-transform:scaleY(0.1)}40%{-webkit-transform:scaleY(1.02)}100%,60%{-webkit-transform:scaleY(0.98)}80%{-webkit-transform:scaleY(1.01)}100%{-webkit-transform:scaleY(1)}}
.animation-pullDown {
	animation-name: pullDown;
	-webkit-animation-name: pullDown;
	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
}

.dash-tile-2x {
	min-height: 407px;
}

.dash-tile-2x .dash-tile-content {
	padding: 15px;
}

.dash-tile-content {
	margin: 0 -20px;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 12px;
	background: #fff;
	height: 273px;
	overflow-y: scroll;
}

.thumbnails {
	list-style: none;
	margin: 0;
	padding: 0;
}

.thumbnails>li {
	float: left;
	position: relative;
	margin: 0 30px 20px 0;
}

.remove-margin {
	margin: 0!important;
}

a.thumbnail {
	margin-bottom: 0;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

a.thumbnail:hover{
	border-color: #db4a39;
}

.thumbnails .thumbnail-borderless, .thumbnails-borderless .thumbnail {
	border: none;
	padding: 5px;
}

.thumbnails .thumbnail-borderless:hover, .thumbnails-borderless .thumbnail:hover{
	text-decoration: underline;
}

/**  Admin DatePicker Style **/
.daterangepicker {
	position: absolute;
	background: #fff;
	padding: 4px;
}

.dropdown-menu {
	margin: -1px 0 0;
	z-index: 1051;
	min-width: 100px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.daterangepicker.opensright:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0,0,0,.2);
	content: '';
}

.daterangepicker.opensright:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker.opensright .ranges {
	width: 160px;
	float: right;
	margin: 4px;
	text-align: left;
}

.daterangepicker .ranges ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.daterangepicker .ranges li {
	font-size: 13px;
	background: #f5f5f5;
	color: #db4a39;
	padding: 3px 12px;
	margin-bottom: 8px;
	cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
	background: #db4a39;
	color: #fff;
}

.daterangepicker .ranges label {
	color: #333;
	font-size: 11px;
	margin-bottom: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #fff;
}

.daterangepicker .ranges .range-inputs .form-control {
	width: 74px;
	height: 27px;
	padding: 2px;
	font-size: 11px;
}

.datetimepicker-dropdown-bottom-right{
	font-size: 12px;
}

.datetimepicker .table-condensed>thead>tr>th, .datetimepicker .table-condensed>tbody>tr>th, .datetimepicker .table-condensed>tfoot>tr>th,.datetimepicker .table-condensed>thead>tr>td, .datetimepicker .table-condensed>tbody>tr>td, .datetimepicker .table-condensed>tfoot>tr>td {
	padding: 3px;
}

.datetimepicker td, .datetimepicker th {
	width: 16px;
	height: 16px;
}

.datetimepicker table tr td.active.active{
	background-image: none;
	background-color: #db4a39;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
}

.datetimepicker table tr td.active.active:hover{
	background-color: #db4a39;
}

/**  Admin DataTables Style **/
.dataTables_wrapper .row {
	margin: 0;
}

.dataTables_wrapper .col-xs-12{
	padding: 0 !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 5px;
}
.pagination>li>a, .pagination>li>span{
	padding: 5px 10px;
    font-size: 12px;
}

.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #db4a39;
}

.pagination>li.active>a, .pagination>li.active>a:hover, .pagination>li.active>span {
	color: #fff;
	background-color: #db4a39;
	border: 1px solid #db4a39;
}

div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}

.remove-margin {
	margin: 0!important;
}

.dataTables_wrapper>div:nth-child(1), .dataTables_wrapper>div:nth-child(3) {
	background-color: #f9f9f9;
	padding: 8px 0 3px;
	width: auto;
	border: 1px solid #ddd;
}

.dataTables_length .input-sm{
	padding: 6px 12px;
    font-size: 14px;
}

span.input-group-addon {
	background-color: #f9f9f9;
}

.input-group-addon .icon-search {
	padding-left: 6px;
}

.tab-content-default {
	border: none;
	padding: 0;
	margin: 0;
	overflow: auto;
	height:auto;
	border-bottom: 1px solid #ddd;
}

.tab-content-default .row {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.user-base-info-table {
	margin-top: 15px;
}

.user-base-info-table tr td{
	height: 40px;
}

.user-base-info-table tr:FIRST-CHILD td{
	border-top: none;
}

#dash-tabs-user-base i{
	padding-right: 5px;
}


