/** Admin Login Page **/
body.login {
	padding: 80px 0 0;
	background-color: #f9f9f9;
	background-image: url(../images/login_bg.png);
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 6px 1px;
}

#login-container {
	width: 320px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #ddd;
	background-color: #fff;
}

.page-header-sub {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	line-height: 18px;
	padding-bottom: 5px;
}

#admin-login-form label{
	text-align: left;
	width: 100px;
	padding-right: 0;
}

#admin-login-form span{
	padding-left: 5px;
	padding-right: 5px;
}