h1, h2, h3 {
	line-height: 40px;
	font-weight: 700;
}

.btn i {
	padding-right: 5px;
}

.page-header {
	margin: 20px -20px;
	padding: 10px 20px 9px;
	background-color: #f3f3f3;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.page-header-top {
	margin: -20px -20px 20px;
	border-top: none;
}

.well {
	background-color: #f9f9f9;
}

.product-list-table tr th, .product-list-table tr td {
	text-align: center !important;
}

.product-list-table i {
	padding-right: 5px;
}

.product-list-table td.product-list{
	padding-top: 25px;
}

.product-list-table .thumbnail{
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.product-search-form {
	float: left;
	width: 90%;
}

.product-search-form .form-group {
	margin-right: 20px;
}

.product-search-form .control-label {
	font-weight: 500;
}

.product-type-edit {
	color: #333;
	font-size: 14px;
	margin-left: 5px;
}

a.add-product-btn {
	color: #fff;
	background-color: #db4a39;
}

a.add-product-btn:hover {
	color: #fff;
	background-color: #c9302c;
}

.form-box {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}

.form-box-header {
	margin: 0;
	padding: 20px;
	border-bottom: 2px solid #ddd;
	background-color: #f5f5f5;
	font-weight: 700;
	line-height: 20px;
}

.form-box-content {
	padding: 0 15px;
}

.form-box .form-group {
	margin: 0 -15px;
	padding: 8px 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}

.form-box .control-label {
	font-weight: 400;
}

.form-box .form-actions {
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: -1px;
	border-top: 2px solid #ddd;
	background-color: #f5f5f5;
}

a.add-color-btn {
	font-size: 12px;
	color: #fff;
	background-color: #db4a39;
}

a.add-color-btn:hover {
	color: #fff;
	background-color: #c9302c;
}

.modal .modal-title {
	color: #db4a39;
}

.modal .btn-primary {
	background-color: #db4a39;
	border: none;
}

.modal .btn-primary:hover {
	color: #fff;
	background-color: #c9302c;
}

.modal i {
	padding-right: 5px;
}

.modal .control-label {
	font-weight: 400;
}

.form-control-static .thumbnail {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 8px;
}

.form-control-static .color-text {
	display: block;
	width: auto;
	height: 50px;
	line-height: 50px;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

.form-control-static .color-delete {
	display: block;
	width: 20px;
	float: left;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

.form-control-static .color-delete:hover {
	color: #db4a39;
}

input.main-img-radio{
	display: block;
	width: 20px;
	float: left;
	text-align: center;
	margin-top: 20px;
	padding-right: 12px;
}