/** Admin Login Page **/
a:hover{
	text-decoration: none;
}

body.login {
	padding: 80px 0 0;
	background-color: #f9f9f9;
	background-image: url(../images/login_bg.png);
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 6px 1px;
}

#login-container {
	width: 320px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #ddd;
	background-color: #fff;
}

.page-header-sub {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	line-height: 18px;
	padding-bottom: 5px;
}

#admin-login-form label {
	text-align: left;
	width: 100px;
	padding-right: 0;
}

#admin-login-form span {
	padding-left: 5px;
	padding-right: 5px;
}

/** Admin Index Page **/
#header {
	height: 40px;
	min-height: 0;
	background: #4b4b4b;
}

#header .header-logo {
	display: inline-block;
	height: 40px;
}

#header .header-logo img {
	padding: 10px;
	padding-top: 7px;
}

.header-bar>li {
	display: block;
	width: auto;
	height: 40px;
	float: left;
	line-height: 20px;
	list-style: none;
}

.header-bar .divider-vertical {
	width: 0;
	border-width: 1px;
	border-style: solid;
	border-right-color: #3b3b3b;
	border-left-color: #5b5b5b;
}

.header-bar span {
	display: inline-block;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	line-height: 40px;
	padding-left: 8px;
}

.header-bar label {
	color: #999;
	margin-right: 8px;
}

.header-bar .dropdown-menu {
	margin: -1px 0 0;
	z-index: 1051;
	min-width: 100px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.dropdown-menu>li>a:hover {
	background: #db4a39;
	color: #fff;
}

.dropdown-menu i {
	display: inline-block;
	width: 22px;
	text-align: center;
	padding-right: 5px;
}

#container {
	background-color: #ddd;
}

#aside {
	width: 201px;
	padding: 0;
	position: absolute;
	border-right: 1px solid #ccc;
}

#sidebar-search {
	margin: 0;
	padding: 0;
	height: 31px;
	background-color: #eee;
}

#sidebar-search input[type=text] {
	padding: 0 10px;
	height: 30px;
	line-height: normal;
	width: 177px;
	border: none;
	background-color: #eee;
	font-style: italic;
	font-size: 12px;
	color: #555;
	outline: none;
}

#sidebar-search button {
	border: none;
	background-color: #eee;
	height: 30px;
	padding: 0;
	color: #999;
}

#content {
	margin: 0 0 0 200px;
	padding: 20px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	min-height: 1000px;
}

#primary-nav ul {
	list-style: none;
	margin: 0;
	padding: 15px 0;
}

#primary-nav li a {
	display: block;
	margin: 3px 0 0;
	background-color: #e9e9e9;
	color: #999;
	line-height: 20px;
	padding: 9px 10px 6px 40px;
}

#primary-nav li a:focus, #primary-nav li a:hover {
	color: #777;
	background-color: #f6f6f6;
	text-decoration: none;
}

#primary-nav li a.active {
	padding-left: 35px;
	color: #333;
	background-color: #fff;
	border-left: 5px solid #db4a39;
}

#primary-nav li i {
	margin: 0 10px 0 -30px;
	width: 20px;
	text-align: center;
	display: inline-block;
	color: #999;
}

a.btn-goto-font {
	color: #999;
	font-size: 14px;
	margin: 0;
	display: block;
	padding-top: 9px;
	padding-bottom: 6px;
	text-align: left;
	border: none;
	background: #f1f1f1;
}

a.btn-goto-font i {
	margin: 0 6px 0 -1px;
	width: 20px;
	text-align: center;
	display: inline-block;
	color: #999;
}

#to-top {
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	position: fixed;
	bottom: 85px;
	left: 5px;
	color: #555;
	display: none;
	background-color: #fff;
	opacity: .5;
	filter: alpha(opacity = 5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}